body{
    font-family: 'urbanist',sans-serif;
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items:center;
    
    margin:0;
}
.container{
    background-color:#fff;
    padding:30px;
    border-radius: 12px;
   box-shadow: 0 8px 24px rgba(0,0,0,0.1);
   width: 500px;
   text-align:center;
}
h1{
    color:#333;
    margin-bottom: 20px;

}
form div{
    margin-bottom:10px;
    /* height:15rem; */
    margin-top: 2rem;
}
form div label{
  font-size: 20px;
 display: flex;
 align-items: start;
}
#url{
    height:35px;
    width: 505px;
    font-size: 20px;
    border-radius: 5px;
   border-color: rgb(204, 201, 201);
}
input:hover{
    background-color:rgb(233, 241, 250); ;
}
#shortCode{
    height:35px;
    width: 505px;
    font-size: 20px;
    border-radius: 5px;
     border-color: rgb(204, 201, 201);
}

button{
    height: 50px;
    width:150px;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(233, 241, 250);
    margin-top:20px;
   
}
#shortened-urls{
    list-style: none;
    margin-left:-2rem;
}
#shortened-urls li{
    
    margin-top:1rem;
    background-color: rgb(238, 243, 249);
    height:3rem;
    padding:0.3rem;
    text-align: center;
    display: flex;
    align-items: center;
}